/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#CCCFD1;
	--color-background:#030303;
	--color-main: #1A1A1B;
	--color-select: #272729;
	--color-accent: #FF4500;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family: 'Roboto', sans-serif;
}


nav {
	border: 2px solid var(--color-accent);
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav img {
	width: 3em;
}